div.TicketWrapper {
    background: darkGray;
    padding: 20px;
    border-radius: 20px;
  
    &:not(:last-child) {
      margin-bottom: 5%;
      margin-right: ${props => (!!props.marginRight ? '1%' : '0')};
    }
}

h3.Title {
    width: 100%;
    margin: 0px;
}

div.Body {
    width: 100%;
}